       h1{
        color: royalblue;
       }
       p{
        color: aqua;
       }
       button{
        color: blueviolet;
       }
       /* body{
        background-color: rgb(142, 148, 106);
       } */
       #Level{
        background-color: cadetblue;
       }

       *{
        box-sizing: border-box;
       }

      .box{
      width:200px;
      height:200px;
      background-color:aqua;
    border:10px solid red;
      outline-width:2px;
      outline-style:solid;
      outline-offset:3px;
      outline: 3px solid green;
      padding: 10px;
      box-sizing:content-box;
}
     

.box1{
      width:200px;
      height:200px;
      background-color:aqua;
    border:10px solid red;
      outline-width:2px;
      outline-style:solid;
      outline-offset:3px;
      outline: 3px solid green;
      padding: 10px;
      /* box-sizing:content-box; */
}

.box2{
  width: 300px;
  height: 150px;
  border: 2px solid rgb(25, 39, 3);
  padding: 15px;
  /* text-align: center;
  text-transform: lowercase;
  text-indent: 25px; */
  /* word-spacing: 3px;
  letter-spacing: 2px;  */
  /* line-height: 25px; */

  /* font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 900; */
font-style: oblique;
font-variant: small-caps;

}

/* date: 18/11/25 */

.container{
  width: 400px;
  height: 200px;
  border: 2px solid green;
  padding: 2px;
  display:flex;
  flex-direction:row;
    justify-content:center; 
  align-items:center;
  flex-wrap: wrap;
  align-content: center;
  




   /* flex-direction:row; 
   flex-wrap: wrap;
   flex-flow: row wrap ; */
}

.item{
  color:orchid;
  padding: 10px;
}

.box3{
  background-color: aqua;
  width: 100px;
  /* padding: 2px; */

}
.box4{
  background-color: blueviolet;
  width: 100px;
}
.box5{
  background-color: antiquewhite;
 width: 100px;
}
.box6{
  background-color: cornflowerblue;
  width: 100px;
}
 .box7{
  background-color: black;
}
.box8{
  background-color: antiquewhite;
}
.box9{
  background-color: blue;
}
.box10{
  background-color: antiquewhite;
} 


  /* data:19/11/25 */

  .boxmodle{
    width: 200px;
    background-color: aquamarine;
    border: 5px solid red;
    padding: 5px;
    box-sizing: content-box;
     
  }
